
<ion-view>
  <ion-content scroll="false">
    <div ng-controller="ProfileController" >
      <div class="carousel carousel-slider center col-sm-12">

        <div class="carousel-item deep-purple darken-2 white-text" href="#one!">
          <h2 class="white-text">First Panel</h2>
          <p>This is your first panel</p>
        </div>
        <div class="carousel-item white deep-purple-text text-darken-2" href="#two!">
          <h2 class="deep-purple-text text-darken-2">Second Panel</h2>
          <p>This is your second panel</p>
        </div>
        <div class="carousel-item deep-purple darken-2 white-text" href="#three!">
          <h2 class="white-text">Third Panel</h2>
          <p>This is your third panel</p>
        </div>
        <div class="carousel-item white deep-purple-text text-darken-2" href="#four!">
          <h2 class="deep-purple-text text-darken-2">Fourth Panel</h2>
          <p>This is your fourth panel</p>
        </div>
      </div>

      <div class="buttonRow row">

        <div class="col s4 buttonLink">
          <div class="valign-wrapper buttonRowButton">
            <div class="valign col s12">
              <a href="#">
                <i class="s12 large material-icons center-align buttonIcon">call_received</i>
                <p class="s12 center-align">
                  Inbound Parcels
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col s4 buttonLink">
          <div class="valign-wrapper buttonRowButton">
            <div class="valign col s12">
              <a href="#">
                <i class="s12 large material-icons center-align buttonIcon">call_made</i>
                <p class="s12 center-align">
                  Outbound Parcels
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col s4 buttonLink">
          <div class="valign-wrapper buttonRowButton">
            <div class="valign col s12">
              <a href="#">
                <i class="s12 large material-icons center-align buttonIcon">done</i>
                <p class="s12 center-align">
                  Claimed Parcels
                </p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
