<div ng-controller="LoginController" class="row nopadding col-xs-12">
    <h2 class="col-xs-12 col-sm-offset-4 col-sm-4 col-xs-offset-0 hidden-xs">Login</h2>
    <ng-form class="col-xs-12 col-sm-offset-4 col-sm-4 col-xs-offset-0" name="loginForm">
        <input class="col-xs-12" type="text" placeholder="Username" name="username" ng-model="user.userName" required>
        <input class="col-xs-12" type="password" placeholder="Password" name="password" ng-model="user.password" required>
        <span class="col-xs-12"><input type="checkbox" name="remember" value="RememberMe" ng-model="user.remembered"><span class="checkBoxContext">Remember me</span></span>

        <input class ="col-xs-12" type="submit" value="Login">

        <a class="col-xs-12" type="submit" value="Register"</a>

        <a class="col-xs-12" href="/createparcel">Create a Parcel</a>

        <a class="col-xs-12" href="#">Forgotten your password?</a>

        <input id="facebookSignup" class="col-xs-12 hidden-xs" type="submit" value="Sign up with Facebook">

    </ng-form>
</div>
